<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Онлайн худалдааны удирдах самбар</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" >
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/colorbox.css" rel="stylesheet">

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="js/jquery-1.9.1.min.js"></script>

	<script src="js/jquery.upload-1.0.2.js"></script>
	<script src="js/jquery.blockUI.js"></script>
	<script src="js/jquery.colorbox-min.js"></script>
	<script src="js/jquery.ba-hashchange.js"></script>

<style type="text/css"><!--
iframe.content {
	position:relative;
	height:100%;
	width:100%;
	border:0;
}
--></style>

</head>

<body>

<ul class="nav nav-tabs">
<li class="active">
<a href="#">Home</a>
</li>
<li><a href="#">...</a></li>
<li><a href="#">...</a></li>
</ul>